- 보통 1:N 병합인 경우에 사용디며 거래 데이터 및 로그 데이터와 병합하는 경우 사용
- 중복 레코드를 포함하는 데이터를 요약한 후 병합하는 방식으로 문제 해결
- groupby

In [2]:
import pandas as pd

demo_df = pd.read_csv('고객별_인구통계정보.csv', encoding = 'cp949')
purchasing_df = pd.read_csv('고객별_구매금액.csv', encoding = 'cp949')

In [3]:
# 데이터 요약
purchasing_aggregated_df = purchasing_df.groupby('고객ID')['구매금액'].sum()
purchasing_aggregated_df.rename('구매금액합계')

고객ID
고객1     2494480
고객10    2644200
고객2     2573880
고객3     2998590
고객4     2875420
고객5     2628430
고객6     2419410
고객7     2709620
고객8     2914460
고객9     2283150
Name: 구매금액합계, dtype: int64

In [4]:
df = pd.merge(demo_df, purchasing_aggregated_df, left_on = '고객ID', right_index = True)
# 하나의 변수를 추가하는 경우에 주로 사용하는 테크닉
# demo_df['구매금액합계'] = demo_df['고객ID'].replace(purchasing_arggregated_df.to_dict())
df.head()

  고객ID  나이 성별     주소     구매금액
0  고객1  48  남   A아파트  2494480
1  고객2  40  남   B아파트  2573880
2  고객3  37  여   C아파트  2998590
3  고객4  35  여  A연립주택  2875420
4  고객5  42  남  B연립주택  2628430