### 카이제곱검정
- 두 범주형 변수가 서로 독립적인지 검정
- 교차테이블 : 두 변수가 취할 수 있는 값의 조합의 출현 빈도를 나타냄
- 카이제곱 통계량 : 기대값과 실제값의 차이를 바탕으로 정의
- pandas.crosstab : 교차 테이블 생성
- scipy.stats.chi2_contingency(obs) : 카이제곱 검정, obs - 실제값

In [14]:
import pandas as pd
df = pd.read_csv("성별에따른만족도.csv", engine = "python")
df.head()

   만족도  성별
0  불만족  남성
1   보통  여성
2  불만족  여성
3   보통  남성
4   만족  여성

In [15]:
# 교차 테이블 생성
cross_table = pd.crosstab(df['만족도'], df['성별'])
cross_table

성별   남성  여성
만족도
만족   50  40
보통   40  30
불만족  10  30

In [18]:
obs = cross_table.values
obs

array([[50, 40],
       [40, 30],
       [10, 30]], dtype=int64)

In [20]:
from scipy.stats import *
statistics, pvalue, dof, expected = chi2_contingency(obs)
print(pvalue) # pvalue가 0.0018로 두 변수 간 독립이 아님을 확인

0.001892528960792166

In [23]:
# 기대값
pd.DataFrame(expected, columns = cross_table.columns, index = cross_table.index)

성별     남성    여성
만족도
만족   45.0  45.0
보통   35.0  35.0
불만족  20.0  20.0